@import "~bootstrap/scss/bootstrap";

body {
  background-color: #1279e0;
}

h1, .h1 {
  font-size: 3.5rem;
  -webkit-text-fill-color: snow;
}

h2, .h2 {
  font-size: 2rem;
  color: snow;
}

.hide{
  display: none;
}